{% extends "base.html" %}

{% block main %}
<section id="container">
    <section id="profile-box">
        <div class="profile-cover">
            <h1>Kayon-Marie Douglas</h1>
            <p>@kaykay</p>
            <p>Portmore, Jamaica</p>
            <p>Joined January, 2019</p>
        </div>
        <div class="profile-description">
            <p> I am a smart and talented young woman who loves website design and development. 
                Contact me if you'd like to work together on a new project.</p>
            <ul>
                <li>2</li>
                <li>6</li>
                <li>10</li>
            </ul>
            <button>Follow</button>
        </div>
    </section>
</section>

{% endblock %}