{% extends "base.html" %}

{% block main %}
<div id="profile-box">
    <div class="profile-cover">
        <img src="{{ url_for('static', filename='profile.jpg') }}">
        <h1>Kayon-Marie Douglas</h1>
        <p>@kaykay</p>
        <p>Portmore, Jamaica</p>
        <p>Joined {{ date }} </p>
    </div>
    <div class="profile-description">
        <p> I am a smart and talented young woman who loves<br> 
            website design and development. Contact me if<br> 
            you'd like to work together on a new project.</p>
        <ul>
            <span>
                <li>2</li>
                <li>6</li>
                <li>10</li>
            </span>
            <li>Posts</li>
            <li>Following</li>
            <li>Followers</li>
        </ul>
        <button>Follow</button>
    </div>
</div>

{% endblock %}