{% extends "base.html" %}

{% block main %}
<div id="profile-box">
    <div class="profile-cover">
        <img src="{{ url_for('static', filename='profile.jpg') }}">
        <h1>Kayon-Marie Douglas</h1>
        <p>@kaykay</p>
        <p>Portmore, Jamaica</p>
        <p>Joined {{ date }} </p>
    </div>
    <div class="profile-description">
        <p> I would like to go into App, Wedsite and 
            Software development. However, whatever the 
            future presents, I intend to go out and 
            accomplish great things to the best of my abilities.</p>
        <ul>
            <span>
                <li>2</li>
                <li>6</li>
                <li>10</li>
            </span>
            <li>Posts</li>
            <li>Following</li>
            <li>Followers</li>
        </ul>
        <button>Follow</button>
    </div>
</div>

{% endblock %}